{% extends "djbg/base.html" %}

{% block content %}
<ul class="list-group">
  <li class="list-group-item">
    Τίτλος: {{ game.name }}
  </li>
  <li class="list-group-item">
    Εικόνα: <img src="{{image.picture.url}}">
  </li>
  <li class="list-group-item">
    Κανόνες: {{ game.rules }}
  </li>
  <li class="list-group-item">
    Τιμή: {{ game.price }}€
  </li>
  <li class="list-group-item">
    Ηλικία: {{ game.min_age }}-{{ game.max_age }}
  </li>
  <li class="list-group-item">
    Μάρκα: {{ game.creator }}
  </li>
  <li class="list-group-item">
   <span>Reviews:
    <a href="{% url 'djbg:reviews' game.id %}">
     <span class="badge badge-secondary">{{ game.review_set.all.count }}</span>
    </a>
    <a href="{% url 'djbg:reviews' game.id %}">
     <span class="fas fa-plus-circle" aria-hidden="true"></span>
    </a>
   </span>
  </li>
</ul>
{% endblock %}
