<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="collapse navbar-collapse">
      <a class="navbar-brand">
        <img src="assets/handmade.svg" class="img-fluid d-inline-block" width="12%" height="auto" alt="">
        Rolling
      </a>
      <ul class="navbar-nav right">
        <li class="nav-item">
          <a type="button" placement="bottom" ngbTooltip="Αρχική" class="nav-link item-image" routerLink="/games">
            <img src="assets/puzzle.svg" width="40" height="40" class="d-inline-block hoverable" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a type="button" placement="bottom" ngbTooltip="Είσοδος/Εγγραφή" class="nav-link right-image" routerLink="/login">
            <img src="assets/pawn.svg" width="40" height="40" class="d-inline-block hoverable " alt="">
          </a>
        </li>
      </ul>
    </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
