.form-signin {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
  box-shadow: 0 0 0 .1rem rgba(255, 0, 0, 0.25);
  border-color: rgba(255, 0, 0, 0.25);
}

.authButton {
  float: right;
  background-color: #D80027;
  color: #ffffff;
  border-radius: 0.8em;
  margin-top: 10px;
}

.btn {
  text-transform:none;
}

.btn:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.25);
}

.message {
  font-size: 12px;
}

.registration-link {
  cursor: pointer;
}

.center {
  position: absolute;
  left:40%;
  padding-top: 20px;
}
