<div class="container">
  <br>
  <br>
  <div *ngIf="!closed" class="row justify-content-center">
    <ngb-alert type="light" (close)="closed = true">{{logout_message}}</ngb-alert>
  </div>
  <span [ngSwitch]="auth.isLoggedIn">
    <span *ngSwitchCase="false">
      <div class="row">
        <div class="col-12">
          <form class="form-signin">
            <h4 class="form-signin-heading">Συμπλήρωσε τα αναγνωριστικά σου</h4>
            <label for="username" class="sr-only">Όνομα χρήστη</label>
            <input #username
               type="text" id="username" class="form-control"
               placeholder="Όνομα χρήστη " autofocus required/>
            <label for="password" class="sr-only">Κωδικός πρόσβασης</label>
            <input #password
               type="password" id="password" class="form-control"
               placeholder="Κωδικός πρόσβασης" required/>
            <span class="message"> {{login_message}} </span>
            <button (click)="login(username.value, password.value)"
                class="btn btn-lg authButton btn-block"
                type="submit">Σύνδεση</button>
          </form>
        </div>
      </div>
    </span>
    <div class="row" routerLink="/registration">
      <div class="col-6 center">
        <span class="registration-link">Δεν έχεις λογαριασμό; Πάτησε εδώ.</span>
      </div>
    </div>
    <span *ngSwitchCase="true">
      <div class="row">
      <form class="form-signin">
        <button (click)="logout()"
                class="authButton btn btn-lg btn-block">Αποσύνδεση</button>
      </form>
      </div>
    </span>
  </span>

</div>
