<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/handmade.svg" width="70" height="70" class="d-inline-block " alt="">
      Rolling
    </a>
    <button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav right">
        <li class="nav-item">
          <a class="nav-link" href="#">Αρχική</a>
        </li>
        <li class="nav-item">
            <a type="button" placement="bottom" ngbTooltip="Είσοδος/Εγγραφή" class="nav-link" href="#">
              <img src="assets/pawn.svg" width="60" height="60" class="d-inline-block " alt="">
            </a>
        </li>
      </ul>
    </div>
  </nav>
  <app-games></app-games>
  <app-games></app-games>
</div>
